.gitattributes	export-ignore
.gitignore		export-ignore
README.md		export-ignore
Parse			export-ignore
rpm				export-ignore
debian			export-ignore
test			export-ignore
pack1.sh		export-ignore
tuxedo-tomted.timer		export-ignore
tuxedo-tomted.service	export-ignore
