.gitattributes	export-ignore
.gitignore		export-ignore
README.md		export-ignore
Parse			export-ignore
debian			export-ignore
test			export-ignore
tools			export-ignore
pack-release.sh		export-ignore
/src/tuxedo-tomte	gitlab-language=perl
