Package: tuxedo-tomte
Version: 2.0.13
Architecture: all
Maintainer: E. Mohr <tux@tuxedocomputers.com>
Installed-Size: 71
Pre-Depends: libparse-edid-perl
Depends: perl
Section: perl
Priority: optional
Homepage: https://www.tuxedocomputers.com
Description: little helper that provides services, updates and fixes for TUXEDO devices
 TUXEDO Tomte is a little helper that provides services, updates and fixes for
 TUXEDO devices in the background. It does not send any information, telemetry
 data or similar stuff out!
 TUXEDO Tomte ist ein kleiner Helfer, der Dienste, Updates und Fixes für
 TUXEDO-Geräte im Hintergrund bereitstellt. Es sendet keine Informationen,
 Telemetriedaten oder ähnliches zurück!
