Package: tuxedo-tomte
Version: 2.0.0
Section: admin
Priority: optional
Maintainer: E Mohr <tux@tuxedocomputers.com>
Homepage: https://www.tuxedocomputers.com
Architecture: all
Description: little brownie that provides services, updates and fixes for TUXEDO devices
 TUXEDO Tomte is a little brownie that provides services, updates and fixes for
 TUXEDO devices in the background. It does not send any information, telemetry
 data or similar stuff out!
 TUXEDO Tomte ist ein kleines Heinzelmaennchen, das Dienste, Updates und Fixes
 für TUXEDO-Geräte im Hintergrund bereitstellt. Es sendet keine Informationen,
 Telemetriedaten oder ähnliches zurück!
