Package: tuxedo-tomte
Version: 1.0.0
Section: admin
Priority: optional
Maintainer: Eckhart Mohr <tux@tuxedocomputers.com>
Homepage: https://www.tuxedocomputers.com
Architecture: all
Description: Little helper that provides services, updates and fixes for TUXEDO devices
 TUXEDO Tomte is a little helper that provides services, updates and fixes for
 TUXEDO devices in the background. It does not send any information, telemetry
 data or similar stuff out!
 This is a meta package and it is safe to remove if you don't want to get useful
 or necessary packages delivered to your TUXEDO device automatically.
 TUXEDO Tomte ist ein kleiner Helfer, der Dienste, Updates und Fixes
 für TUXEDO-Geräte im Hintergrund bereitstellt. Es sendet keine Informationen,
 Telemetriedaten oder ähnliches zurück!
 Dies ist ein Meta-Paket und kann ohne Gefahr entfernt werden, falls eine
 automatisierte Installation von nützlichen oder notwendigen Paketen für Ihr
 TUXEDO-Gerät nicht erwünscht wird.
